  <div class="form-group">
  <% emails = []
  collaborators.each do |c|
    user = User.find(c.user_id)
    emails << user[:email]
    end %>    
    <%= f.label :collaborators %>
    <%= f.text_field :collaborators,
                     class: 'form-control',
                     placeholder: "Enter collaborators email(separated by commas)",
                     value: emails.join(', ') %>
  </div>