 <h1>Edit Wiki</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for wikis</p>
     <ul>
       <li>Wikipedia articles, and other encyclopedic content, should be written in a formal tone.</li>
       <li>Make your article accessible and understandable for as many readers as possible.</li>
       <li>State facts that may be obvious to you, but are not necessarily obvious to the reader.</li>
     </ul>
   </div>
   <div class="col-md-8">
   <%= render "form"  %>
   </div>
 </div>
 <script type="text/javascript">
    var editor = new EpicEditor().load();
</script>
