 <h1>New Wiki</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for wikis</p>
     <ul>
       <li>Good articles start with a brief lead section introducing the topic.</li>
       <li>Paragraphs should be short enough to be readable, but long enough to develop an idea.</li>
       <li>One-sentence paragraphs are unusually emphatic, and should be used sparingly.</li>
     </ul>
   </div>
   <div class="col-md-8">
  <%= render "form"  %>
   </div>
 </div>